// Rows
@each $size in $row {
    .row-#{$size} {
        @include rs("min-height", $ss, $size);
    }
}

@include sm-down() {
    @each $size in $row {
        .m-row-#{$size} {
            min-height: $size + px;
        }
    }
}

// View height
@each $size in $vh {
    .vh-#{$size} {
        height: $size + vh;
    }
}

@include sm-down() {
    @each $size in $vh {
        .m-vh-#{$size} {
            height: $size + vh;
        }
    }
}

// Percentage height
@each $size in $h {
    .h-#{$size} {
        height: $size + #{"%"};
    }
}

@include sm-down() {
    @each $size in $h {
        .m-h-#{$size} {
            height: $size + #{"%"};
        }
    }
}
