// Handle individual seperators

.s-right {
    > * {
        position: relative;

        &:after {
            position: absolute;
            content: " ";
            @include rs("right", $ss, 20);
            @include rs("height", $ss, 107);
            top: 50%;

            transform: translateY(-50%);
            border-left: 1px solid var(--color-primary);
        }
    }

    > *:last-child {
        &:after {
            display: none;
        }
    }
}

.s-list {
    li {
        border-bottom: 1px solid var(--color-tertiary);
        p {
            @extend .mv-20;
        }
    }
    li:last-child {
        border-bottom: none;
    }
}
