// Handle Site Transitions

.ani-100 {
    transition: 100ms linear all;
}

.ani-180 {
    transition: 180ms linear all;
}

.ani-200 {
    transition: 200ms linear all;
}

.ani-300 {
    transition: 300ms linear all;
}