header {
    padding: 20px 0;

    .navigation-bar-wrapper {
        justify-content: space-between;
        align-items: center;
    
        .logo-container img {
            width: 150px;
        }

        .navigation-bar {
            nav {
                ul {
                    list-style: none;
                }
            }
        }
    }
}